/**
 * Neonwizard Mixins
 * Phase 8.5 - Reusable SCSS utilities
 */

@mixin transition-mix($property: all, $duration: 0.3s, $timing: ease-in-out, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin step-circle($size: 45px) {
  width: $size;
  height: $size;
  border-radius: 50%;
  @include flex-center;
  font-weight: 600;
  font-size: 16px;
}
